<div class="info">
	<p> Access this page at <a href="http://bathrooms.local">bathrooms.local</a>. That's easier to remember! </p>
	<p> How it works: magnetic sensors that were installed for a security system that we no longer use. </p>
	<p> Please direct all feedback to <a href="https://stridehealth.slack.com/messages/@james.maclean">james.maclean</a> on slack. </p>
</div>
