body {
  padding: 50px;
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media only screen and (max-width: 320px) {

  body {
    font-size: 50px;
  }

}

table {
  width: 100%;
  font-size: 40px;
}

tr.open {
  background-color: lightgreen;
}

tr.closed {
  background-color: lightcoral;
}

tr.unknown {
  background-color: yellow;
}

td {
  padding: 10px 10px;
}
